/* Style Guide 
  *Primary Color: slategray 
  *Secondary Color: darkblue
*/
 
/* CSS Variables */

body {
  background: rgb(253, 253, 253);
  margin: 0 auto;
  width: 80%;
}

h1 {
  color: rgb(63, 0, 19);
  font-family: 'Cormorant Garamond', serif;
  font-size: 48px;
  letter-spacing: 4px;
  text-align: center;
}

blockquote {
  color: rgb(63, 0, 19);
  font-family: 'Italianno', cursive;
  text-align: center;
  font-size: 25px;
}

div h4 {
  color: rgb(63, 0, 19);
    font-family: 'Italianno', cursive;
    text-align: center;
    font-size: 25px;
  }

/* li {
  color: black;
  line-height: 1;
  font-size: 1em;
} */

p {
  color: black;
  line-height: 1.5;
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
}

/* Typography 
  *Primary Font: font-family: 'Libre Baskerville', serif;
*/

/* ? */
img {
  /* width: 100%; */
  border-radius: 50%;
  float: left;
  margin: .5em;
  shape-outside: circle(50%);

  width: 300px;
  height: 300px;

}

footer p {
  font-size: 10px;
}