/* Style Guide 
  *Primary Color: slategray 
  *Secondary Color: darkblue
*/
 
/* CSS Variables */

body {
  background: rgb(212, 234, 255);
}

h1 {
  color: rgb(0, 73, 116);
  font-family: 'Libre Baskerville', serif;
  font-size: 48px;
  letter-spacing: 4px;
  text-align: center;
}
p {
  color: slategray;
}

/* Typography 
  *Primary Font: font-family: 'Libre Baskerville', serif;
*/

/* ? */
img {
  width: 100%;
}