/* Style Guide 
  *Primary Color: slategray 
  *Secondary Color: darkblue
*/
 
/* CSS Variables */

body {
  background: rgb(212, 234, 255);
  margin: 0 auto;
  width: 80%;
}

h1 {
  color: rgb(0, 73, 116);
  font-family: 'Libre Baskerville', serif;
  font-size: 48px;
  letter-spacing: 4px;
  text-align: left;
}

.cursive {
  color: rgb(0, 73, 116);
  font-style: italic;
  text-align: left;
}

li {
  color: slategray;
  line-height: 1;
  font-size: 1em;
}

p {
  color: slategray;
  line-height: 1.5;
  font-size: 1.5em;
}

/* Typography 
  *Primary Font: font-family: 'Libre Baskerville', serif;
*/

/* ? */
img {
  /* width: 100%; */
  border-radius: 50%;
  float: left;
  margin: .5em;
  shape-outside: circle(50%);

  width: 300px;
  height: 300px;

}

footer {
  font-size: .5em;
}